{
  "openapi": "3.1.0",
  "info": {
    "title": "Veyra — Commit Mode API",
    "description": "The standard commit layer for production AI agent writes. Provides trust discovery, action authorization, token verification, settlement, and a hosted MCP Pack with 48 tools. Trust checks and verification are free forever. MCP Pack SSE: https://mcp.veyra.to/sse",
    "version": "2.4.1",
    "contact": {
      "name": "Veyra",
      "url": "https://veyra.to",
      "email": "hello@veyra.dev"
    },
    "x-llms-txt": "https://veyra.to/llms.txt",
    "x-mcp-pack": "https://mcp.veyra.to/sse",
    "x-agent-manifest": "https://veyra.to/.well-known/ai-manifest.json"
  },
  "servers": [
    {
      "url": "https://api.veyra.to/v1",
      "description": "Veyra Production API"
    },
    {
      "url": "https://mcp.veyra.to",
      "description": "Veyra MCP Pack (48 tools, SSE)"
    }
  ],
  "paths": {
    "/capability": {
      "get": {
        "operationId": "getCapability",
        "summary": "Get API capability manifest (FREE)",
        "description": "Returns the full capability manifest including supported endpoints, protocol version, and MCP Pack info.",
        "responses": {
          "200": {
            "description": "Capability manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "protocol": { "type": "string" },
                    "version": { "type": "string" },
                    "endpoints": { "type": "object" },
                    "mcp_pack": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trust-status/{domain}": {
      "get": {
        "operationId": "checkTrustStatus",
        "summary": "Check trust status of a tool domain (FREE)",
        "description": "Returns whether a tool domain requires Veyra commit mode for production writes. This endpoint is free forever and should be called before any write operation.",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "salesforce.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Trust status for the domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": { "type": "string" },
                    "production_mode": { "type": "string", "enum": ["trusted", "open"] },
                    "commit_mode": { "type": "boolean" },
                    "commit_mode_provider": { "type": "string", "enum": ["veyra"] },
                    "verify_endpoint": { "type": "string", "format": "uri" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authorize-action": {
      "post": {
        "operationId": "authorizeAction",
        "summary": "Authorize a production write action",
        "description": "Authorizes an AI agent to perform a production write. Returns a commit token that must be included as X-Veyra-Token header in the write request.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id", "action_type", "tool_domain"],
                "properties": {
                  "agent_id": { "type": "string" },
                  "action_type": { "type": "string", "enum": ["create", "update", "delete", "send", "deploy"] },
                  "target": { "type": "string" },
                  "tool_domain": { "type": "string" },
                  "action_class": { "type": "string", "enum": ["A", "B", "C", "D"] },
                  "description": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action authorized, token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" },
                    "expires_at": { "type": "string", "format": "date-time" },
                    "action_id": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verify-token": {
      "post": {
        "operationId": "verifyToken",
        "summary": "Verify a commit token (FREE)",
        "description": "Verifies a Veyra commit token. Used by tool providers to validate that an incoming write is authorized. This endpoint is free forever.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": { "type": "boolean" },
                    "agent_id": { "type": "string" },
                    "action_type": { "type": "string" },
                    "action_class": { "type": "string" },
                    "delegated_by": { "type": "string" },
                    "budget_reserved": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/submit-receipt": {
      "post": {
        "operationId": "submitReceipt",
        "summary": "Submit execution receipt for settlement",
        "description": "Submits a receipt after a successful write operation. This finalizes the settlement and triggers billing.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action_id", "token", "result"],
                "properties": {
                  "action_id": { "type": "string" },
                  "token": { "type": "string" },
                  "result": { "type": "string", "enum": ["success", "failure"] },
                  "metadata": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt submitted and settled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "receipt_id": { "type": "string" },
                    "settled": { "type": "boolean" },
                    "billed_amount": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/settle-action": {
      "post": {
        "operationId": "settleAction",
        "summary": "Settle an authorized action",
        "description": "Settles an authorized action, finalizing the commitment and billing. Used when settlement is separated from receipt submission.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action_id"],
                "properties": {
                  "action_id": { "type": "string" },
                  "metadata": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action settled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "settled": { "type": "boolean" },
                    "billed_amount": { "type": "string" },
                    "settlement_id": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/stats": {
      "get": {
        "operationId": "getPublicStats",
        "summary": "Get public platform statistics (FREE)",
        "description": "Returns public statistics about the Veyra platform including total actions settled, active domains, and tool count.",
        "responses": {
          "200": {
            "description": "Public statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_actions_settled": { "type": "integer" },
                    "active_domains": { "type": "integer" },
                    "mcp_tools": { "type": "integer" },
                    "reference_tools": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Veyra API key (tr_...)"
      }
    }
  }
}
